:host {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wrapper {
	max-width: 1080px;
}

#actions {
	display: flex;
	justify-content: space-between;
	margin: 12px;
	/*box-sizing: border-box;*/
}
